/.idea/
/.vscode/
/backups/
/Battling-natives/
/crash-reports/
/lightspeed-cache/
/ESM/
/logs/
/mods/
/PCL/
/resourcepacks/
/saves/
/Battling.jar
/Battling.json
/options.txt
/patchouli_data.json
/rhino.local.properties
/usercache.json
/usernamecache.json
